
@mixin Flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Flex-Btwn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin Responsive($breakpoint){
    @if $breakpoint == big {
        @media screen and (max-width: 1280px) {
            @content
        }
    }
}